@font-face {
  font-family: 'okticon';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/components/icon/font/okticon.eot');
  src: url('/assets/components/icon/font/okticon.eot?#iefix') format('embedded-opentype'),
       url('/assets/components/icon/font/okticon.woff') format('woff'),
       url('/assets/components/icon/font/okticon.ttf') format('truetype'),
       url('/assets/components/icon/font/okticon.svg#okticon') format('svg');
}
