
# Description:
#  Code ownership file for the okta/odyssey GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
# Notes:
@@ -9,4 +9,4 @@
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners

* @okta/repo-odyssey-codeowner