#
# Description:
#  Code ownership file for the okta/odyssey GitHub repository for mapping resources to teams.
#  See [CODEOWNERS] for details.
#
# Notes:
#  Users must have write access to the repo in order for this mechanism to work correctly.
#
# Resources
#  - [CODEOWNERS] https://help.github.com/articles/about-codeowners

*       @rajaguruduraisamy-okta @ganeshsomasundaram-okta @jmelberg-okta @jeffbelser-okta @santhoshbalakrishnan 

*.md    @okta/design-system
*.scss  @okta/design-system
*.html  @okta/design-system
*.swig  @okta/design-system
*.woff  @okta/design-system
*.woff2 @okta/design-system
*.svg   @okta/design-system
*.css   @okta/design-system
*.png   @okta/design-system
*.gif   @okta/design-system
