.DS_Store
dist/
node_modules/
npm-debug.log
package-lock.json
storybook-static/
yarn-error.log
**/coverage/
**/reports/
__vitest-screenshots/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Jetbrains
.idea/
*.iml

# Lerna
lerna-debug.log

# Storybook
debug-storybook.log

# bundled properties files (i18n)
**/src/properties/ts/*.ts
**/src/properties/ts/.ts.DS_Store

*.tsbuildinfo

# Logs for ok-ui commands
**/ok-ui-logs
