// TODO: This is used to display/fill a large graphic
// or space and should be moved in to its own component

.docs-hero {
  margin-bottom: $spacing-l;
  padding: $spacing-m;
  border-radius: 0 32px;
  background-color: var(--docs-card-bg);
}

// TODO: This is used to display a large statement or principle
// and should be moved in to its own component if we find a need 
// for it in more than once place

.docs-principle {
  margin: $spacing-xl 0;
  border-radius: 0 32px;

  p {
    font-size: $size-title-1;
  }

  a {
    font-size: $size-title-5;
  }
}
