.odo-doc-header {
  display: grid;
  font-size: $size-title-4;
  grid-column-gap: $spacing-l;
  grid-template-columns: $max-line-length auto;
  justify-content: space-between;

  .odo-doc-header--title {
    grid-column: 1 / 2;
  }

  .odo-doc-header--lead {
    grid-column: 1 / 2;
    margin: 0;
    font-size: $size-title-4;
  }

  .odo-doc-header--links {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    font-size: ms(0);

    a {
      display: flex;
      margin-bottom: $spacing-xs;
      padding: $spacing-xs-em $spacing-s-em;
      line-height: $base-line-height;
    }

    span {
      line-height: 1;
    }

    svg {
      margin-right: $spacing-s;
    }
  }
}

[class^='content__'] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, #{$max-line-length}));
  grid-column-gap: $spacing-l;
  font-size: ms(1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: 1/3;
  }

  p {
    grid-column: 1 / 1;
  }
}

.docskit--figure {
  grid-column: 2 / 3;
}

.odo-example {
  grid-column: 1 / 3;
  margin-bottom: $spacing-l;
  max-width: calc(#{$max-line-length} * 2 + #{$spacing-l});

  .odo-example--rendered {
    padding: $spacing-l;
    border: 1px solid $border-color-display;
    border-radius: 6px 6px 0 0;
  }

  pre[class*="language-"] {
    margin: 0;
    padding: $spacing-m $spacing-l;
    border: 1px solid $border-color-display;
    background-color: cv("gray", "000");
    font-size: $size-body-base;
    overflow: scroll;

    code {
      font-family: "Andale Mono", monospace;
    }
  }

  .odo-example--rendered + div[class*="language-"] pre[class*="language-"] {
    border-top: 0;
    border-radius: 0 0 6px 6px;
  }
}

.odo-doc-footer {
  padding: $spacing-m;
  border-top: 1px solid $border-color-display;
  text-align: center;
}

.ods-tabs--tablist {
  position: sticky;
  background: white;
  z-index: 1;
  top: 0;
  padding-top: $spacing-l;
}
