// Odyssey Button with added custom variants (not shipped)
.ods-button {
  &.is-odo-button-shadow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color-display;
    background: transparent;
    color: cv("blue", "500");
    font-weight: normal;

    span {
      margin-left: $spacing-xs;
    }

    &:hover,
    &:focus {
      border-color: $border-color-display;
      background-color: cv("gray", "000");
    }
  }
}

.ods--example {
  margin-bottom: $spacing-m;

  .ods--rendered {
    padding: $spacing-l;
    border: 1px solid $border-color-display;
    border-radius: 6px 6px 0 0;
  }

  pre[class*="language-"] {
    margin: 0;
    padding: $spacing-m $spacing-l;
    border: 1px solid $border-color-display;
    background-color: cv("gray", "000");
    font-size: $size-body-sentence;

    code {
      font-family: "Inconsolata", monospace;
    }
  }

  .ods--rendered + div[class*="language-"] pre[class*="language-"] {
    border-top: 0;
    border-radius: 0 0 6px 6px;
  }
}

.odo-header {
  grid-column: 1 / 3;
  padding-right: calc(50% + #{$spacing-l / 2});
}

.odo-button-icon {
  margin-left: 6px;
  line-height: 1;
}
