// Semantic Variables
$color-primary-light: cv('blue', '300');
$color-primary-base: cv('blue', '500');
$color-primary-dark: cv('blue', '900');

$color-danger-light: cv('red', '300');
$color-danger-base: cv('red', '500');
$color-danger-dark: cv('red', '900');

// TODO: color-caution-base and color-success-base not documented
$color-caution-base: cv('yellow', '500');
$color-success-base: cv('green', '500');

// Background

// TODO: bg-neutral and bg-neutral-disabled not documented
$bg-primary: $color-primary-base;
$bg-primary-disabled: $color-primary-light;

$bg-danger: $color-danger-base;
$bg-danger-disabled: cv('red', '300');

// TODO: bg-caution and bg-success not documented
$bg-caution: $color-caution-base;
$bg-success: $color-success-base;

// Outlines
$focus-ring-primary: $color-primary-light;
$focus-ring-danger: $color-danger-light;

// Text Color
$text-body: cv('gray', '900');
$text-heading: cv('gray', '900');
$text-sub: cv('gray', '600');
$text-code: cv('gray', '900');
$text-danger: $color-danger-base;
$text-danger-disabled: $color-danger-light;

// Space
$spacing-m: $base-line-height * 1rem;
$spacing-s: $spacing-m / 2;
$spacing-xs: $spacing-s / 2;
$spacing-l: $spacing-m * 2;
$spacing-xl: $spacing-l * 2;

// Input disabled
$bg-input-disabled: cv('gray', '000');
$border-input-disabled: cv('gray', '200');
