// Semantic Variables
$color-primary-light: cv('blue', '300');
$color-primary-base: cv('blue', '500');
$color-primary-dark: cv('blue', '900');

$color-danger-light: cv('red', '300');
$color-danger-base: cv('red', '500');
$color-danger-dark: cv('red', '900');

// Background
$bg-primary: $color-primary-base;
$bg-primary-disabled: $color-primary-light;

$bg-danger: $color-danger-base;
$bg-danger-disabled: cv('red', '000');

// Outlines
$outline-primary: $color-primary-light;
$outline-danger: $color-danger-light;

// Text Color
$text-body: cv('gray', '900');
$text-heading: $black;
$text-sub: cv('gray', '600');
$text-code: cv('gray', '900');

// Space
$spacing-m: $base-line-height * 1rem;
$spacing-s: $spacing-m / 2;
$spacing-xs: $spacing-s / 2;
$spacing-l: $spacing-m * 2;
$spacing-xl: $spacing-l * 2;
