/* stylelint-disable scss/at-import-no-partial-leading-underscore */
@import '@okta/odyssey/src/scss/abstracts/_functions';
@import '@okta/odyssey/src/scss/abstracts/_colors';
@import '@okta/odyssey/src/scss/abstracts/_tokens';
/* stylelint-enable scss/at-import-no-partial-leading-underscore */

:root {
  --font-size: #{$size-body-base};
  --inlineCodeColor: #{cv('blue', '000')};
  --inlineCodeBackground: #{cv('red', '300')};
  --blockBackground: #{cv('gray', '900')};
  --baseColor: #{cv('blue', '000')};
  --selectedColor: #{cv('turquoise', '500')};
  --highlightBackground: #{cv('yellow', '000')};
  --highlightAccent: #{cv('yellow', '300')};
  --commentColor: #{cv('gray', '500')};
  --punctuationColor: #{cv('blue', '000')};
  --propertyColor: #{cv('turquoise', '400')};
  --selectorColor: #a0dcc3;
  --operatorColor: #{cv('blue', '000')};
  --operatorBg: transparent;
  --variableColor: #{cv('blue', '400')};
  --functionColor: #cfb1c1;
  --keywordColor: #{cv('blue', '300')};
}

/*********************************************************
* General
*/

/* stylelint-disable selector-no-qualifying-type */
pre[class*='language-'],
code[class*='language-'] {
  /* stylelint-enable selector-no-qualifying-type */
  color: var(--baseColor);
  font-family: 'Inconsolata', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: var(--font-size);
  line-height: 1.5;
  text-align: left;
  text-shadow: none;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  /* stylelint-enable property-no-vendor-prefix */
  tab-size: 4;
  direction: ltr;
}

/* stylelint-disable selector-no-qualifying-type, selector-pseudo-element-no-unknown */
pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
code[class*='language-']::mozselection {
  /* stylelint-enable selector-no-qualifying-type, selector-pseudo-element-no-unknown */
  background: var(--selectedColor);
  text-shadow: none;
}

@media print {
  /* stylelint-disable selector-no-qualifying-type */
  pre[class*='language-'],
  code[class*='language-'] {
    /* stylelint-enable selector-no-qualifying-type */
    text-shadow: none;
  }
}

/* stylelint-disable selector-no-qualifying-type, no-descending-specificity */
pre[class*='language-'] {
  /* stylelint-enable selector-no-qualifying-type, no-descending-specificity */
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
  background: var(--blockBackground);
}

/* stylelint-disable selector-no-qualifying-type */
:not(pre) > code[class*='language-'] {
  /* stylelint-enable selector-no-qualifying-type */
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  background: var(--inlineCodeBackground);
  color: var(--inlineCodeColor);
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--commentColor);
}

.token.punctuation {
  color: var(--punctuationColor);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--propertyColor);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--selectorColor);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: var(--operatorBg);
  color: var(--operatorColor);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--keywordColor);
}

.token.function {
  color: var(--functionColor);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--variableColor);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*********************************************************
* Line highlighting
*/

/* stylelint-disable selector-no-qualifying-type */
pre[data-line] {
  /* stylelint-enable selector-no-qualifying-type */
  position: relative;
}

/* stylelint-disable selector-no-qualifying-type */
pre[class*='language-'] > code[class*='language-'] {
  /* stylelint-enable selector-no-qualifying-type */
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  margin-top: 1em;
  padding: inherit 0;
  background: var(--highlightBackground);
  box-shadow: inset 5px 0 0 var(--highlightAccent);
  line-height: inherit;
  white-space: pre;
  pointer-events: none;
}
