$icon-unicode: (
  110-person-override:                "\e097",
  aura:                               "\e09e",
  brokenarrow:                        "\e0c1",
  code-android:                       "\e0bc",
  code-angular:                       "\e0bd",
  code-background:                    "\e0ba",
  code-dotnet:                        "\e0b9",
  code-ios:                           "\e0be",
  code-java:                          "\e0b8",
  code-javascript:                    "\e0b7",
  code-node:                          "\e0bf",
  code-php:                           "\e0b6",
  code-python:                        "\e0b5",
  code-react:                         "\e0c0",
  code-rest:                          "\e0c7",
  code-swift:                         "\e0c8",
  csv:                                "\e0af",
  csv-1:                              "\e0b0",
  encrypted-icon:                     "\e09a",
  file-cert:                          "\e098",
  ico-openinnewtab:                   "\e0c9",
  logo-bamboo-hr:                     "\e0bb",
  logo-box:                           "\e0a3",
  logo-google:                        "\e0a5",
  logo-ldap:                          "\e0a4",
  logo-netsuite-1:                    "\e0ab",
  logo-netsuite-2:                    "\e0ac",
  logo-office-365:                    "\e0aa",
  logo-ulti-pro-1:                    "\e0a8",
  logo-ulti-pro-2:                    "\e0a9",
  logo-workday-1:                     "\e0a7",
  logo-workday-2:                     "\e0a6",
  okticon-000-actionactivate:         "\e000",
  okticon-000-actionadd:              "\e001",
  okticon-000-actionassign:           "\e002",
  okticon-000-actiondeprovision:      "\e003",
  okticon-000-actionedit:             "\e004",
  okticon-000-actionimport:           "\e005",
  okticon-000-actionoverride:         "\e006",
  okticon-000-actionpush:             "\e007",
  okticon-000-actionrefresh:          "\e008",
  okticon-000-actionremove:           "\e009",
  okticon-000-actionunassign:         "\e00a",
  okticon-000-actionupload:           "\e00b",
  okticon-001-user:                   "\e00c",
  okticon-002-user-add:               "\e00d",
  okticon-003-user-remove:            "\e00e",
  okticon-004-user-activate:          "\e00f",
  okticon-005-user-import:            "\e010",
  okticon-006-user-profile-push:      "\e011",
  okticon-007-user-admin-add:         "\e012",
  okticon-008-user-deprovisioning:    "\e013",
  okticon-009-user-delete:            "\e014",
  okticon-010-support:                "\e015",
  okticon-011-image-upload:           "\e016",
  okticon-012-handshake:              "\e017",
  okticon-012-handshake2:             "\e018",
  okticon-013-group:                  "\e019",
  okticon-014-group-add:              "\e01a",
  okticon-015-group-remove:           "\e01b",
  okticon-016-group-push:             "\e01c",
  okticon-017-group-delete:           "\e01d",
  okticon-018-group-override:         "\e01e",
  okticon-019-chevron-small:          "\e01f",
  okticon-020-chevron-big:            "\e020",
  okticon-021-duo-call:               "\e021",
  okticon-022-visibility:             "\e022",
  okticon-023-conversation:           "\e023",
  okticon-024-wrench:                 "\e024",
  okticon-025-settings:               "\e025",
  okticon-025-settings2:              "\e026",
  okticon-026-directory-add:          "\e027",
  okticon-027-directory:              "\e028",
  okticon-028-directory-remove:       "\e029",
  okticon-029-bookmark:               "\e02a",
  okticon-030-cross:                  "\e02b",
  okticon-031-arrow:                  "\e02c",
  okticon-032-activate:               "\e02d",
  okticon-033-sms:                    "\e02e",
  okticon-034-feedback:               "\e02f",
  okticon-035-checkmark-big:          "\e030",
  okticon-036-checkmark-small:        "\e031",
  okticon-037-task:                   "\e032",
  okticon-037-task2:                  "\e033",
  okticon-038-reset:                  "\e034",
  okticon-038-reset2:                 "\e035",
  okticon-039-clone:                  "\e036",
  okticon-039-clone2:                 "\e037",
  okticon-040-code:                   "\e038",
  okticon-041-location:               "\e039",
  okticon-042-plus:                   "\e03a",
  okticon-043-token-add:              "\e03b",
  okticon-044-key:                    "\e03c",
  okticon-045-swa:                    "\e03d",
  okticon-046-refresh:                "\e03e",
  okticon-047-download:               "\e03f",
  okticon-048-pencil:                 "\e040",
  okticon-049-magnifying-glass:       "\e041",
  okticon-050-apps:                   "\e042",
  okticon-051-app-add:                "\e043",
  okticon-052-app-remove:             "\e044",
  okticon-053-app-unassign:           "\e045",
  okticon-054-app-assign:             "\e046",
  okticon-055-app-refresh:            "\e047",
  okticon-056-reports:                "\e048",
  okticon-056-reports2:               "\e049",
  okticon-057-filter:                 "\e04a",
  okticon-058-run:                    "\e04b",
  okticon-059-factory-reset:          "\e04c",
  okticon-060-no:                     "\e04d",
  okticon-061-garbage:                "\e04e",
  okticon-062-remove:                 "\e04f",
  okticon-063-add:                    "\e050",
  okticon-064-success:                "\e051",
  okticon-065-delete:                 "\e052",
  okticon-066-info:                   "\e053",
  okticon-067-help:                   "\e054",
  okticon-068-error:                  "\e055",
  okticon-069-expand:                 "\e056",
  okticon-070-time:                   "\e057",
  okticon-071-warning:                "\e058",
  okticon-072-error-small:            "\e059",
  okticon-073-enrolling:              "\e05a",
  okticon-074-status:                 "\e05b",
  okticon-075-bug:                    "\e05c",
  okticon-076-lock:                   "\e05d",
  okticon-077-dashboard:              "\e05e",
  okticon-077-dashboard2:             "\e05f",
  okticon-078-task-notepad:           "\e060",
  okticon-078-task-notepad2:          "\e061",
  okticon-079-lightbulb:              "\e062",
  okticon-080-plugin:                 "\e063",
  okticon-081-instructions:           "\e064",
  okticon-082-megaphone:              "\e065",
  okticon-083-user-edit:              "\e066",
  okticon-084-profile-edit:           "\e067",
  okticon-085-expression:             "\e068",
  okticon-086-devices:                "\e069",
  okticon-087-phone:                  "\e06a",
  okticon-088-tablet:                 "\e06b",
  okticon-089-okta-icon:              "\e06c",
  okticon-089-okta-icon2:             "\e06d",
  okticon-090-okta-logo:              "\e06e",
  okticon-091-launch:                 "\e06f",
  okticon-092-cir-arrow:              "\e070",
  okticon-093-asterisk:               "\e071",
  okticon-094-agent-light:            "\e072",
  okticon-094-agent-light2:           "\e073",
  okticon-095-teach:                  "\e074",
  okticon-096-dropdown-arrow:         "\e075",
  okticon-097-configure:              "\e076",
  okticon-098-profile-master:         "\e080",
  okticon-099-auth-provider:          "\e081",
  okticon-100-time:                   "\e082",
  okticon-101-calender:               "\e083",
  okticon-102-tombstone:              "\e084",
  okticon-103-person-pause:           "\e093",
  okticon-104-person-play:            "\e095",
  okticon-105-action-pause:           "\e091",
  okticon-106-action-play:            "\e092",
  okticon-107-paper-plane:            "\e094",
  okticon-108-hourglass:              "\e090",
  okticon-109-question:               "\e096",
  okticon-112-arrow-alt:              "\e099",
  okticon-114-wifi:                   "\e09b",
  okticon-115-add-wifi:               "\e09c",
  okticon-116-ellipses:               "\e09f",
  okticon-117-server-and-laptop:      "\e09d",
  okticon-118-server-1:               "\e0a0",
  okticon-119-trust:                  "\e0a1",
  okticon-121-link:                   "\e0a2",
  okticon-android:                    "\e085",
  okticon-android-phone:              "\e086",
  okticon-android-tablet:             "\e087",
  okticon-apple:                      "\e088",
  okticon-blackberry:                 "\e089",
  okticon-browser:                    "\e0b1",
  okticon-copy-to-clipboard:          "\e0c2",
  okticon-envelope:                   "\e0c4",
  okticon-external-link:              "\e0c9",
  okticon-devices:                    "\e08a",
  okticon-ipad:                       "\e08b",
  okticon-iphone:                     "\e08c",
  okticon-laptop:                     "\e08d",
  okticon-osx:                        "\e08e",
  okticon-server-2:                   "\e0b2",
  okticon-visibility-off:             "\e0c3",
  okticon-web:                        "\e0b3",
  okticon-windows:                    "\e08f",
  okticon-wipe-device:                "\e0b4",
  shape-1:                            "\e0da",
  social-icons:                       "\e077",
  social-icons-1:                     "\e078",
  social-icons-2:                     "\e079",
  social-icons-3:                     "\e07a",
  social-icons-4:                     "\e07b",
  social-icons-5:                     "\e07c",
  social-icons-6:                     "\e07d",
  social-icons-7:                     "\e07e",
  social-icons-8:                     "\e07f",
  userclockback:                      "\e0ae",
  userclockfront:                     "\e0ad"
);
