.docs-link,
.docs-link:visited {
  color: var(--docs-text-heading, #{$text-heading});
  text-decoration-color: var(--docs-text-heading, #{$text-heading});
  text-underline-offset: $spacing-xs;

  /* stylelint-disable selector-no-qualifying-type */
  &[target='_blank']:not([href^='mailto:'])::after {
    background-image: get-icon('external', cv('gray', '900'));
  }
}
