.docs-page-header {
  display: grid;
  position: relative;
  z-index: 2;
  grid-column-gap: $spacing-l;
  grid-row-gap: $spacing-s;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  justify-content: space-between;
  margin-bottom: $spacing-l;
  font-size: $size-title-4;

  @include mq(m) {
    display: block;
  }

  .docs-page-header--lead {
    grid-column: 1 / 2;
    font-size: $size-title-4;

    @include mq(l) {
      font-size: $size-body-sentence;
    }
  }

  &.is-page-header-base,
  &.is-page-header-components,
  &.is-page-header-icon {
    padding: $spacing-l;
    border-radius: 0 32px;
  }

  &.is-page-header-base {
    background: var(--docs-accent-base-bg);
  }

  &.is-page-header-components {
    background: var(--docs-accent-component-bg);
  }

  &.is-page-header-icon {
    background: var(--docs-accent-icon-bg);
  }
}
