.odo-link,
.odo-link:visited {
  color: var(--odo-text-heading, #{$text-heading});
  text-decoration-color: var(--odo-text-heading, #{$text-heading});
  text-decoration-thickness: 1px;
  text-underline-offset: $spacing-xs;
}
