.odo-card {
  padding: $spacing-m $spacing-l;
  border-radius: 0 32px;
  background: cv("gray", "000");
  padding: $spacing-m;
  font-size: $size-body-sentence;

  &.is-odo-card-plain {
    background: transparent;
  }
}
