/* stylelint-disable selector-no-qualifying-type */

code:not([class]) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: $size-body-caption;
}

code[class*='language-'],
pre[class*='language-'] {
  background: none;
  color: $text-body;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: $base-line-height;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  hyphens: none;
  tab-size: 2;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  max-height: $max-line-length;
  margin: 0 0 $spacing-m;
  padding: $spacing-m;
  overflow: auto;
  border: 1px dashed cv('gray', '200');
  border-radius: 0 0 $base-border-radius $base-border-radius;
  background-color: $white;
  font-size: $size-body-caption;

  .nimatron--example & {
    margin: 0;
  }
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: $spacing-xs;
  border-radius: $base-border-radius;
  background: $white;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $text-sub;
}

.token.punctuation {
  color: $text-heading;
}

.namespace {
  opacity: $more-opaque;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: cv('purple');
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: cv('turquoise');
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: hsla(0, 0%, 100%, $less-opaque);
  color: cv('yellow', '900');
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $color-primary-base;
}

.token.function,
.token.class-name {
  color: cv('red', '500');
}

.token.regex,
.token.important,
.token.variable {
  color: cv('yellow', '500');
}

.token.important,
.token.bold {
  font-weight: 600;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
