.page--sign-in {
  .form {
    max-width: 35ch;
  }

  .form--actions {
    .button {
      width: 100%;
    }
  }
}

.modal--form {
  position: relative;
  border-radius: 0 0 $base-border-radius $base-border-radius;
  box-shadow: 0 0 20px rgba(cv('gray', '900'), 0.1);

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    border-top: 2px solid cv('blue', '900');
  }
}

.sample--icon {
  width: $spacing-m;
  margin-right: $spacing-m;

  &:last-of-type {
    margin-right: 0;
  }
}

.sample--layout {
  max-width: $max-line-length;
}

.sample--tip {
  display: inline-block;

  & + & {
    margin-left: $spacing-m;
  }
}
//// Generate Conversion Classes

.sample--list {
  list-style-type: none;
}

$spacing-units: (
  'spacing-xl': $spacing-xl,
  'spacing-l': $spacing-l,
  'spacing-m': $spacing-m,
  'spacing-s': $spacing-s,
  'spacing-xs': $spacing-xs,
);

.type-sample--wrap {
  max-width: $max-line-length;
  overflow-x: scroll;
}

.type-sample--table {
  white-space: nowrap;
}

@for $i from 7 through 1 {
  $x: $i - 1;
  $n: 7 - $i;

  .type-sample:nth-of-type(#{$n}) {
    .type-sample--rem {
      $rem: ms($x);
      $rem: inspect($rem);
      $rem: str-slice($rem, 1, -4);
      $rem: str-slice($rem, 1, 4);
      $rem: $rem + 'rem';

      &::before {
        content: '#{$rem}';
      }
    }

    .type-sample--px {
      &::before {
        content: '#{round(rem-to-px(ms($x))))}';
      }
    }

    .type-sample--example {
      font-size: ms($x);
    }
  }
}

@for $i from 4 through 1 {
  $x: $i - 2;
  $n: 4 - $i;

  .type-sample-body:nth-of-type(#{$n}) {
    .type-sample-body--rem {
      $rem: ms($x);
      $rem: inspect($rem);
      $rem: str-slice($rem, 1, -4);
      $rem: str-slice($rem, 1, 4);
      $rem: $rem + 'rem';

      &::before {
        content: '#{$rem}';
      }
    }

    .type-sample-body--px {
      &::before {
        content: '#{round(rem-to-px(ms($x)))}';
      }
    }

    .type-sample-body--example {
      font-size: ms($x);
    }
  }
}

@each $name, $value in $spacing-units {
  .conversion--#{$name}-actual {
    &::before {
      content: '#{$value}';
    }
  }

  .conversion--#{$name}-px {
    &::before {
      content: '#{round(rem-to-px($value))}';
    }
  }

  .sample--type-#{$name} {
    position: relative;
    min-height: $base-font-size;
    margin-bottom: $spacing-m;
    padding: 0 0 0 $spacing-l;
    font-size: $value;

    &::before {
      content: 'ms(#{str-slice($name, 4)})';
      position: absolute;
      top: 0;
      left: 0;
      font-size: $size-body-s;
    }
  }

  .sample--spacing-#{$name} {
    position: relative;
    width: $value;
    height: $value;
    margin: 0 0 $spacing-m 0;
    background: cv('red', '300');
  }
}

.sample--colors-wrap {
  /* Fallback Support */
  display: flex;
  display: grid;
  grid-gap: $spacing-m;
  grid-template-columns: repeat(auto-fill, minmax(($max-line-length / 2), 1fr));
  flex-wrap: wrap;
}

.sample--color-list {
  overflow: hidden;
  border-radius: $base-border-radius;
  margin-bottom: $spacing-l;
}

.sample--color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: $spacing-xs $spacing-s;
}

@each $hue, $variants in $colors {
  @each $variant, $color in $variants {
    .is-sample-#{$hue}-#{$variant} {
      background: cv($hue, $variant);

      &::before,
      &::after {
        position: static;
        padding: $spacing-xs;
        background: $white;
        font-size: $size-body-s;
        font-weight: 400;
      }

      &::before {
        content: '#{$hue}, #{$variant}';
      }

      &::after {
        content: '#{$color}';
      }
    }
  }
}

.sample--modal-container,
.sample--wizard-container {
  position: relative;
  margin-bottom: $spacing-xl;
}

.nimatron--rendered .is-link-default {
  color: cv('blue', '500');
}

.nimatron--rendered .is-link-default:hover,
.nimatron--rendered .is-link-hover {
  color: cv('blue', '900');
}

.is-rendered-success {
  background: cv('green', '500');
}

.is-link-visited {
  color: cv('purple');
}

.sample--external-link-icon {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.5%2010.5V13C13.5%2013.3%2013.3%2013.5%2013%2013.5H3C2.7%2013.5%202.5%2013.3%202.5%2013V3C2.5%202.7%202.7%202.5%203%202.5H5.5%22%20stroke%3D%22%231662DD%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M8%208L14%202%22%20stroke%3D%22%231662DD%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M9.5%201.5H14.5%22%20stroke%3D%22%231662DD%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M14.5%206.5V1.5%22%20stroke%3D%22%231662DD%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  vertical-align: middle;
}

// Design Token Examples

.sample-token {
  display: block;
  width: 21px;
  height: 7px;
  margin: $spacing-xs auto 0;
  border-radius: 4px;
}

// Token Examples: Color
.sample-token--color-primary-light {
  background: $color-primary-light;
}

.sample-token--color-primary-base {
  background: $color-primary-base;
}

.sample-token--color-primary-dark {
  background: $color-primary-dark;
}

.sample-token--color-danger-light {
  background: $color-danger-light;
}

.sample-token--color-danger-base {
  background: $color-danger-base;
}

.sample-token--color-danger-dark {
  background: $color-danger-dark;
}

.sample-token--color-primary-bg {
  background: $color-primary-base;
}

// Token Examples: Background
.sample-token--color-primary-bg-disabled {
  background: $color-primary-light;
}

.sample-token--color-danger-bg {
  background: $color-danger-base;
}

.sample-token--color-danger-bg-disabled {
  background: $color-danger-light;
}

// Token Examples: Outline
.sample-token--color-primary-outline {
  background: $focus-ring-primary;
}

.sample-token--color-danger-outline {
  background: $focus-ring-danger;
}

// Token Examples: Shadow
.sample-token--box-shadow-default {
  box-shadow: $box-shadow-default;
}

.sample-token--text-body {
  color: $text-body;
}

.sample-token--text-heading {
  color: $text-heading;
}

.sample-token--text-sub {
  color: $text-sub;
}

.sample-token--text-danger {
  color: $text-danger;
}

.type-body-sample--table {
  width: 90%;
  white-space: nowrap;

  .type-sample:nth-of-type(1) .type-sample--example {
    font-size: $size-body-l;
  }

  .type-sample:nth-of-type(2) .type-sample--example {
    font-size: $size-body-m;
  }

  .type-sample:nth-of-type(3) .type-sample--example {
    font-size: $size-body-s;
  }
}

.type-title-sample--table {
  width: 90%;
  white-space: nowrap;
}

.type-sample--400 { font-weight: 400; }
.type-sample--600 { font-weight: 600; }
