@import '~@okta/odyssey';
@import '~prismjs/themes/prism.css';

// Doc Specific Tokens
$more-opaque: 0.6;
$med-opaque: 0.5;
$less-opaque: 0.3;

// Nimatron Specific Styles
@import 'prism-ext'; // TODO: Create prism-theme-odyssey package for this
@import 'samples';

.is-not-provisional {
  display: none;
}

.nimatron {
  display: block;
  min-height: 100vh;
  background-color: $color-primary-dark;
  background-repeat: no-repeat;

  @media only screen and (min-width: 75ch) {
    display: grid;
    grid-template-columns: minmax(auto, max-content) minmax(auto, auto);
  }
}

.nimatron--header {
  padding: $spacing-m $spacing-l $spacing-l $spacing-m;
  color: $white;
}

.nimatron--header-title {
  margin-bottom: $spacing-m;
  font-size: 0;
}

.nimatron--header-logo {
  height: $spacing-m;
  fill: $white;
}

.nimatron--nav {
  display: grid;
  grid-template-columns: minmax(auto, auto) minmax(auto, auto);
  column-gap: $spacing-m;
  text-transform: capitalize;

  @media only screen and (min-width: 75ch) {
    display: block;
  }
}

.nimatron--nav-section {
  margin: 0 0 $spacing-m;
}

.nimatron--nav-item {
  margin: 0 0 $spacing-xs;
}

.nimatron--nav-heading {
  color: $white;
  font-size: $size-body-base;
  margin: $spacing-s 0 $spacing-s;
  font-weight: 600;
}

.nimatron--nav-list {
  margin: 0 0 $spacing-m;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;

  a {
    position: relative;
    color: $white;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: border-bottom-color $base-duration $base-timing;
      border-bottom: 1px solid;
      border-bottom-color: rgba($white, $less-opaque);
    }

    &:hover {
      &::before {
        border-bottom-color: rgba($white, $more-opaque);
      }
    }
  }
}

.nimatron--main {
  display: block;
  background-color: $white;

  @media only screen and (min-width: 75ch) {
    display: grid;
    grid-template-columns: minmax(auto, ($max-line-length * 2)) minmax(auto, auto);
    min-width: 0;
    box-shadow: 0 2px $base-font-size rgba(0, 0, 0, 0.2);
  }

  h2:not([class]) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      left: -$spacing-l;
      width: calc(100% + #{$spacing-l} + #{$spacing-l});
      border-top: 1px solid cv('gray', '200');
    }
  }
}

.nimatron--article {
  min-width: 0;
  padding: $spacing-m $spacing-l;
}

.nimatron--toc {
  display: none;
  position: relative;
  font-size: $size-body-caption;

  @media only screen and (min-width: 125ch) {
    display: block;
    border-left: 1px solid cv('gray', '200');
  }
}

.nimatron--toc-space-holder,
.nimatron--toc-fixed {
  padding: $spacing-m;
}

.nimatron--toc-space-holder {
  color: transparent;
  pointer-events: none;
}

.nimatron--toc-fixed {
  position: fixed;
}

.nimatron--toc-title {
  font-size: $size-body-base;
  margin-bottom: $spacing-s;
  font-weight: 600;
}

.nimatron--toc-list-item {
  margin-bottom: 0;
}

.nimatron--toc-list-level-2 {
  margin-bottom: $spacing-xs;
}

.nimatron--toc-list-level-3 {
  .nimatron--toc-list-child {
    display: none;
  }
}
.nimatron--toc-list-link {
  position: relative;
  color: $text-sub;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: border-bottom-color $base-duration $base-timing;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
  }

  &:hover {
    &::before {
      border-bottom-color: $color-primary-base;
    }
  }

  &[href='#undefined'] {
    display: none;
  }

  .nimatron--toc-space-holder & {
    color: transparent;

    &::before {
      display: none;
    }
  }

  .nimatron--toc-list-level-2 > & {
    color: $text-body;
    font-weight: 600;

    .nimatron--toc-space-holder & {
      color: transparent;
    }
  }
}

.nimatron--example {
  max-width: 100%;
  margin-bottom: $spacing-m;
}

.nimatron--rendered {
  padding: $spacing-m;
  border: 1px dashed cv('gray', '200');
  border-radius: $base-border-radius;

  &:not(:only-child) {
    border-bottom: 0;
  }

  &.is-example-disallowed {
    position: relative;
    border-color: $text-danger;

    &::after {
      content: "This is a Don't.";
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 $spacing-s $spacing-s 0;
      font-size: $size-body-caption;
      font-weight: 600;
      color: cv('red', '900');
    }
  }
}

.nimatron--figure {
  margin-bottom: $spacing-m;
}

svg {
  max-width: 100%;
}

// Hexo Render Hack

h1 {
  &:empty {
    margin: 0;
  }
}

.content__default { // stylelint-disable
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    position: relative;

    .header-anchor {
     display: none;
    }
  }
}
