abbr {
  border-bottom: 1px dashed cv('action', 'dark');
  text-decoration: none;
}

em {
  font-style: italic;

  > em {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;

  > strong {
    text-decoration: underline;
  }
}

sup {
  font-size: ms(-0.0412575);
  line-height: 1;
  vertical-align: super;
}

sub {
  font-size: ms(-0.0412575);
  line-height: 1;
  vertical-align: sub;
}

blockquote {
  margin: 0 0 $base-spacing;
  padding: 0 0 0 $base-spacing;
  border-left: 3px solid $base-border-color;
}

p {
  max-width: $max-line-length;
  margin-bottom: $base-spacing;

  &:last-child {
    margin-bottom: 0;
  }
}

cite {
  font-style: italic;
}

del {
  display: inline-block;
  background: cv('danger', 'lightest');
}

del::before,
del::after {
  @include is-visually-hidden;
}

del::before {
  content: attr(data-a11y-start);
}

del::after {
  content: attr(data-a11y-end);
}

ins {
  display: inline-block;
  background: cv('success', 'lightest');
}

ins::before,
ins::after {
  @include is-visually-hidden;
}

ins::before {
  content: attr(data-a11y-start);
}

ins::after {
  content: attr(data-a11y-end);
}

mark {
  background: cv('warning', 'lightest');
}

s {
  text-decoration: line-through;
}

small {
  font-size: ms(-1);
}

kbd {
  display: inline-block;
  padding: 0 $tiny-spacing;
  border: 1px solid cv('gray', '200');
  border-radius: $base-border-radius;
  background: cv('gray', '000');
  box-shadow: 0 2px 0 cv('gray', '000'), 0 3px 0 cv('gray', '200');
  font-weight: 400;
}

hr {
  margin: $base-spacing 0;
  border-width: 1px;
  border-style: solid;
  border-color: cv('gray', '200');
}

code {
  color: cv('magenta', 'base');
  font-family: $mono-font-family;
}

var {
  font-style: italic;
  font-weight: 600;
}
