h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $base-spacing 0;
  color: $text-heading;
  font-weight: 600;
  line-height: $heading-line-height;
}

h1 {
  font-size: ms(5);
}

h2 {
  font-size: ms(4);
}

h3 {
  font-size: ms(3);
}

h4 {
  font-size: ms(2);
}

h5 {
  font-size: ms(1);
  line-height: $base-line-height;
}

h6 {
  margin-bottom: $small-spacing;
  font-size: ms(0);
}

.legalese {
  color: $text-sub;
  font-size: ms(-1);
}
