name: Warm cache
on:
  schedule:
    # NOTE: timezone is in UTC
    # https://crontab.guru/#0_12-23_*_*_1-5
    - cron: "0 12-23 * * 1-5"
jobs:
  warm-cache:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: main
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: v20.9.0
          cache: yarn
      - name: node_modules cache
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node-modules-cache-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-node-modules-cache-
      - name: install dependencies
        run: yarn install --immutable
